[package]
name = "ecg"
description = "Heartbeats for cosmos validators"
version = "0.1.2"
edition = "2021"
authors = ["Etienne Napoleone <etienne@setten.io>"]
license = "GPL-3.0-or-later"

documentation = "https://github.com/setten-io/ecg/blob/main/README.md"
readme = "README.md"
repository = "https://github.com/setten-io/ecg"
keywords = ["monitoring", "validator", "cosmos", "heartbeat", "uptime"]
categories = ["command-line-utilities"]

[dependencies]
thiserror = "1.0"
serde-aux = "3.0"
log = "0.4"
pretty_env_logger = "0.4"

[dependencies.serde]
features = ["derive"]
version = "1.0"

[dependencies.clap]
features = ["derive", "env"]
version = "3.1"

[dependencies.ureq]
features = ["json"]
version = "2.4"

[dependencies.ctrlc]
features = ["termination"]
version = "3.2"
